.curriculo-form{
    font-family: 'Raleway Black', arial;
    font-size: 24px;
    color: #563C8F;
    font-weight: bold;
}

.form-group.row .control-label::before { 
    content:"*";
    color:#ACCB34;
    font-size: 30px;    
    font-weight: bold;
 }

 .float-container {
    border: solid 1px #DCDEE2;
    padding: 0 8px;
    position: relative;
  }
  
  .float-container input {
    border: none;
    outline: 0;
    padding: 16px 0 10px;
  }

 label.input{
     font-size: 11px;
     color: #6F59AA;
     position: absolute;
 }

 btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-holder{
    background-image: url("/svg/imgsec1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 475px; 
}
 
 