html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn-primary{
    background-color: #ACCB34;
    border-color: #ACCB34;
    color: #563C8F;
}

.btn-danger{
    background-color: #4D4D4D;
    border-color: #4D4D4D;
    color: #DCDEE2;
}

.btn-warning{
    background-color: #D3EA55;
    border-color: #D3EA55;
    color: #6F59AA;
}

.btn-success{
    background-color: #563C8F;
    border-color: #563C8F;
    color: #F1F1F1;
}

.rits-img{
    background-image: url("/svg/imgsec1rits.png");
}

section#top{
    background-image: url("/svg/imgsec1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
}

section#vagas{
    background-color: #F1F1F1; width: 100%; height: 930px;
}

